<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/about-stylesheet.css" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a>About</a></li>
        <li><a href="/mission">Daily Mission</a></li>
      </ul>
    </nav>
    <section id="about">
      <div>
        <div>
          <h1>About</h1>
          <p>
            Mishmesh is a strange 7-year-old cat! He's egotistical and always
            demanding. He has an odd relationship with doors; he prefers them
            all to be open. Even stranger, Mishmesh enjoys eating when someone
            is standing beside him! He's also incredibly intelligent and knows
            how to get what he wants. Finally, I must state that everything
            belongs to him and only him!
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
