<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/mission-stylesheet.css" />
    <title>Daily Activities</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a>Daily Mission</a></li>
      </ul>
    </nav>
    <section id="mission">
      <div>
        <div>
          <h1>Daily Mission</h1>
          <ul>
            <li>Scratch all closed doors</li>
            <li>Eat</li>
            <li>Sleep</li>
            <li>Eat</li>
            <li>Sleep</li>
            <li>Annoy Everyone</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
